@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
$violet : #7051b8;
$white1: #eeeeee;
$gray1: #b5b5b5;
$pink: #dfa9ff;
$purple: #a742c5;
$black: #23272a;

.DataColumns{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1rem;
    border: 1px solid $gray1;
    border-radius: 0.5rem;
    height: 100%;
    min-height: 17rem;
    &:hover{
        cursor: pointer;
    }

    &_graph{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    &_details{
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        &_row{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
    &_newDetails{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

.DataColumnsText{
    &_title{
        font-family: Poppins;
        font-weight: 900;
    }
    &_content{
        font-family: Poppins;
        font-size: small;
    }
}

@media screen and (min-width: 900px) {
    .DataColumns{
        width: 25rem;
        &_graph{
            
            width: 100%;
        }
    }
}