.wrapper {
  width: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}
.account {
  right: 0;
}
.Navigation {
  background-color: white;
  padding: 1rem;
}
.pagewrapper {
  position: relative;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
}

.menuLink {
  color: inherit;
  text-decoration: inherit;
}
@media screen and (min-width: 600px) {
  .pagewrapper {
    z-index: 999;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
  }
}
