.wrapper {
  margin: 0;
  margin-top: 7rem;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagewrapper {
  z-index: 999;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.menuLink {
  color: inherit;
  text-decoration: inherit;
}

.content area {
  flex-direction: column;
  margin-top: 20rem;
  padding-top: 20rem;
}
@media screen and (min-width: 600px) {
  .pagewrapper {
    z-index: 999;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}
