$radius: 1rem;
$white1: #eeeeee;
$gray1: #b5b5b5;
$pink: #dfa9ff;
$purple: #a742c5;
$black: #23272a;
$boxshadow: 0 0 10px 5px rgb(240, 240, 240);
$buttonbg: #a742c5;
$maxwidth: 40rem;

.research {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 2rem;

  padding-top: 2rem;
  &_arrow {
    width: 100%;
    display: block;
    border: none;
    background-color: transparent;
  }
  &_container {
    display: grid;
    grid-template-rows: 1fr;
    border-radius: $radius;
    box-shadow: $boxshadow;
    background-color: white;
  }
  &_header {
    height: 100%;
    width: 85vw;
    &_tabs {
      display: grid;
      grid-template-columns: 2rem 1fr 2rem;
    }
    &_display {
      border-bottom: 1px solid $white1;
      width: 100%;

      word-wrap: break-word;
      overflow: hidden;
      padding: 1rem;
      padding-left: 1rem;
    }
  }

  &_body {
    height: 80vh;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    &_header {
      overflow: hidden;
      width: 85vw;
      border-bottom: 1px solid $white1;
    }
    &_tabs {
      display: grid;
      grid-template-columns: 2rem 1fr 2rem;
      width: 100%;
    }
  }
}

.text {
  &_title {
    font-weight: bold;
    font-size: 2rem;
    color: $black;
  }
  &_label {
    color: $gray1;
  }
  &_content {
    color: $black;
  }
  &_topic {
    font-size: 1.5rem;
    font-weight: 600;
    color: $gray1;
  }
}

@media screen and (min-width: 600px) {
  .research {
    &_arrow {
      display: none;
    }
    &_container {
      display: grid;
      grid-template-rows: 1fr;
      border-radius: $radius;
      box-shadow: $boxshadow;
      background-color: white;
    }
    &_header {
      height: 100%;
      width: 70vw;
      &_tabs {
        padding-left: 1rem;

        &_active {
          display: none;
        }
        &_inactive {
          display: none;
        }
      }
      &_display {
        border-bottom: 1px solid $white1;
        padding: 1rem;
        padding-left: 2rem;
      }
    }

    &_body {
      height: 80vh;
      width: 70vw;
      margin-bottom: 2rem;
      display: grid;
      grid-template-columns: 1fr;
      &_header {
        padding: 2rem;
      }
    }
  }
}
