.research {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.research_header_container {
  height: 100%;
  width: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-box-shadow: 0 0 10px 5px #f0f0f0;
          box-shadow: 0 0 10px 5px #f0f0f0;
  background-color: white;
}

.research_heading {
  padding: 1rem;
  border-bottom: 1px solid #eeeeee;
}

.research_heading_tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem 1fr 2rem;
      grid-template-columns: 2rem 1fr 2rem;
}

.research_body_container {
  height: 100%;
  width: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  -webkit-box-shadow: 0 0 10px 5px #f0f0f0;
          box-shadow: 0 0 10px 5px #f0f0f0;
  background-color: white;
}

.research_body_heading {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-bottom: 1px solid #eeeeee;
}

.research_body_tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem 1fr 2rem;
      grid-template-columns: 2rem 1fr 2rem;
  border-bottom: 1px solid #eeeeee;
}

.research_body_content {
  height: 100%;
  padding: 1rem;
  gap: 2rem;
}

.research_dataset {
  padding: 1rem;
}

.research_dataset_heading {
  padding: 1rem;
  border: 1px solid #b5b5b5;
  border-bottom: none;
}

.research_dataset_desc {
  padding: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid #b5b5b5;
}

.research_dataset_table {
  margin-top: 1rem;
  min-height: 20vh;
  max-height: 60vh;
  overflow: auto;
  background-color: white;
  border: 1px solid #b5b5b5;
}

.research_dataset_table_heading {
  padding: 1rem;
  border-bottom: 1px solid #b5b5b5;
  height: 3rem;
}

.research_arrow {
  width: 100%;
  display: block;
  border: none;
  background-color: transparent;
}

.research_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px 5px #f0f0f0;
          box-shadow: 0 0 10px 5px #f0f0f0;
  background-color: white;
}

.research_header {
  height: 100%;
  width: 85vw;
}

.research_header_tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem 1fr 2rem;
      grid-template-columns: 2rem 1fr 2rem;
}

.research_header_display {
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  padding: 0.5rem;
  padding-left: 1rem;
}

.text_title {
  font-weight: bold;
  font-size: 2rem;
  color: #23272a;
}

.text_label {
  color: #b5b5b5;
}

.text_content {
  color: #23272a;
}

.text_topic {
  font-size: 1.5rem;
  font-weight: 600;
  color: #b5b5b5;
}

.text_button {
  color: #b5b5b5;
  border-radius: 0.5rem;
  background-color: transparent;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}

.text_button:hover {
  color: #a742c5;
}

@media screen and (min-width: 600px) {
  .research_arrow {
    display: none;
  }
  .research_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 10px 5px #f0f0f0;
            box-shadow: 0 0 10px 5px #f0f0f0;
    background-color: white;
  }
  .research_header {
    height: 100%;
    width: 70vw;
  }
  .research_header_tabs {
    padding-left: 1rem;
  }
  .research_header_display {
    border-bottom: 1px solid #eeeeee;
    padding: 1rem;
    padding-left: 2rem;
  }
  .research_body {
    height: 80vh;
    width: 70vw;
    margin-bottom: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .research_body_header {
    padding: 2rem;
  }
}
/*# sourceMappingURL=research.css.map */