.research {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.research_header_container {
  height: 100%;
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: white;
}

.research_heading {
  padding: 1rem;
  border-bottom: 1px solid #eeeeee;
  max-width: 90vw;
}

.research_heading_tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem 1fr 2rem;
      grid-template-columns: 2rem 1fr 2rem;
}

.research_body_container {
  height: 100%;
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: white;
}

.research_body_heading {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-bottom: 1px solid #eeeeee;
}

.research_body_tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem 1fr 2rem;
      grid-template-columns: 2rem 1fr 2rem;
  border-bottom: 1px solid #eeeeee;
}

.research_body_content {
  height: 100%;
  padding: 1rem;
  gap: 2rem;
}

.research_dataset {
  max-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.research_dataset_heading {
  padding: 1rem;
  border: 1px solid #b5b5b5;
  border-bottom: none;
}

.research_dataset_desc {
  padding: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #eeeeee;
  border: 1px solid #b5b5b5;
  word-wrap: break-word;
}

.research_dataset_table {
  margin-top: 1rem;
  min-height: 20vh;
  max-height: 60vh;
  overflow: auto;
  background-color: white;
  border: 1px solid #b5b5b5;
}

.research_dataset_table_heading {
  padding: 1rem;
  border-bottom: 1px solid #b5b5b5;
  height: 3rem;
}

.research_arrow {
  width: 2rem;
  display: block;
  border: none;
  background-color: transparent;
}

.text_title {
  font-weight: bold;
  font-size: 2rem;
  color: #23272a;
}

.text_label {
  color: #b5b5b5;
}

.text_content {
  color: #23272a;
}

.text_topic {
  font-size: 1.5rem;
  font-weight: 600;
  color: #b5b5b5;
}

.text_button {
  color: #b5b5b5;
  border-radius: 0.5rem;
  background-color: transparent;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  cursor: pointer;
}

.text_button:hover {
  color: #a742c5;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .research {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
  .research_header {
    padding: 1rem;
    max-width: 50vw;
  }
  .research_header_container {
    width: 50vw;
    border: 1px solid #eeeeee;
  }
  .research_heading {
    padding: 1rem;
    max-width: 50vw;
  }
  .research_heading_tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .research_body {
    max-width: 50vw;
  }
  .research_body_container {
    height: 100%;
    max-width: 50vw;
    border: 1px solid #eeeeee;
  }
  .research_body_heading {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-bottom: 1px solid #eeeeee;
    max-width: 50vw;
  }
  .research_body_tabs {
    width: 50vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border-bottom: 1px solid #eeeeee;
  }
  .research_dataset {
    padding: 1rem;
    max-width: 48vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .research_dataset_heading {
    padding: 1rem;
    border: 1px solid #b5b5b5;
    border-bottom: none;
  }
  .research_dataset_desc {
    padding: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #eeeeee;
    border: 1px solid #b5b5b5;
  }
  .research_dataset_table {
    margin-top: 1rem;
    min-height: 20vh;
    max-height: 60vh;
    overflow: auto;
    background-color: white;
    border: 1px solid #b5b5b5;
  }
  .research_dataset_table_heading {
    padding: 1rem;
    border-bottom: 1px solid #b5b5b5;
    height: 3rem;
  }
  .research_arrow {
    display: none;
  }
}
/*# sourceMappingURL=research.css.map */