.contStyle {
  display: grid;
  grid-template-columns: 1rem 1rem;
  gap: 1rem;
}

.divStyle {
  width: 1rem;
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-left: 1rem;
}
label {
  font-family: inherit;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
}
