@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

.dashboard {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  gap: 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard_container {
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 5px #f0f0f0;
          box-shadow: 0 0 10px 5px #f0f0f0;
  margin-bottom: 2rem;
}

.dashboard_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 1fr;
}

.res {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  width: 1fr;
  gap: 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8e8e8;
}

.res_div {
  width: 1fr;
}

.res_span {
  font-family: inherit;
  font-weight: bold;
}

.res_title {
  width: 100%;
  padding: 0.5rem;
  border: 0ch;
  border-radius: 1rem;
}

.res_desc {
  width: 100%;
  height: 10rem;
  overflow-wrap: break-word;
  padding: 0.5rem;
  border: 0ch;
  resize: none;
  border-radius: 1rem;
}

.res_desc:focus {
  border: 1px;
}

.proceed_Btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-top: 1px solid #e8e8e8;
  background-color: #a742c5;
  color: white;
  width: 100%;
}

.cardwrapper {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  width: 1fr;
  gap: 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8e8e8;
}

.card {
  width: 100%;
  min-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;
}

.card_title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

.card_desc {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_status {
  width: 100%;
  font-weight: bold;
  color: #838383;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
}

.card_tagcont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.card_tags {
  color: white;
  border-radius: 1rem;
  background-color: #a742c5;
  width: 1fr;
  font-size: 0.8rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.upload {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  gap: 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload_res {
  width: 1fr;
}

.upload_container {
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 5px #f0f0f0;
          box-shadow: 0 0 10px 5px #f0f0f0;
  margin-bottom: 2rem;
  background-color: #e8e8e8;
}

.upload_header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 1fr;
  position: relative;
}

.upload_body {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  width: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8e8e8;
  overflow-y: scroll;
  max-height: 25rem;
  word-wrap: break-word;
}

.upload_span {
  color: #313131;
  font-weight: bold;
}

.upload_desc {
  display: inline-block;
  min-width: 10rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  overflow-wrap: break-word;
}

.upload_data {
  max-width: 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  gap: 0.5rem;
}

.upload_btn {
  min-width: 5rem;
  border: none;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

.upload_table {
  text-align: center;
  height: 25rem;
  overflow: scroll;
}

@media screen and (min-width: 600px) {
  .dashboard {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .dashboard_container {
    width: 1fr;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .cardwrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 1fr;
  }
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    width: 1fr;
    position: relative;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 100%;
  }
  .proceed_Btn {
    background-color: white;
    color: black;
  }
  .proceed_Btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #a742c5;
    color: white;
  }
  .upload {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
  .upload_body {
    -ms-grid-columns: (minmax(14rem, 16rem))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
    gap: 1rem;
  }
}
/*# sourceMappingURL=dashboard.css.map */