@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

$radius: 1rem;
$cardcolor: #e8e8e8;
$boxshadow: 0 0 10px 5px rgb(240, 240, 240);
$buttonbg: #a742c5;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

.dashboard {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: center;

  &_container {
    border-radius: $radius;
    overflow: hidden;
    box-shadow: $boxshadow;
    margin-bottom: 2rem;
  }

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 1fr;
  }
}

.res {
  display: grid;
  padding: 2rem;
  width: 1fr;
  gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: $cardcolor;

  &_div {
    width: 1fr;
  }
  &_span {
    font-family: inherit;
    font-weight: bold;
  }
  &_title {
    width: 100%;
    padding: 0.5rem;
    border: 0ch;
    border-radius: $radius;
  }
  &_desc {
    width: 100%;
    height: 10rem;
    overflow-wrap: break-word;
    padding: 0.5rem;
    border: 0ch;
    resize: none;
    border-radius: $radius;
  }

  &_desc:focus {
    border: 1px;
  }
}

.proceed {
  &_Btn {
    box-shadow: none;
    border: none;
    border-top: 1px solid $cardcolor;
    background-color: $buttonbg;
    color: white;
    width: 100%;
  }
}

.cardwrapper {
  display: grid;
  padding: 2rem;
  width: 1fr;
  gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: $cardcolor;
}

.card {
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;

  &_title {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &_desc {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_status {
    width: 100%;
    font-weight: bold;
    color: #838383;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: inherit;
  }
}

.upload {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  grid-template-columns: 1fr;
  justify-content: center;

  &_res {
    width: 1fr;
  }
  &_container {
    border-radius: $radius;
    overflow: hidden;
    box-shadow: $boxshadow;
    margin-bottom: 2rem;
    background-color: $cardcolor;
  }

  &_header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 1fr;
    position: relative;
  }

  &_body {
    display: grid;
    padding: 2rem;
    width: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: $cardcolor;
    overflow-y: scroll;
    max-height: 25rem;

    word-wrap: break-word;
  }
  &_span {
    color: #313131;
    font-weight: bold;
  }

  &_desc {
    display: inline-block;
    min-width: 10rem;
    max-width: fit-content;
    overflow-wrap: break-word;
  }

  &_data {
    max-width: 1fr;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    gap: 0.5rem;
  }

  &_btn {
    min-width: 5rem;
    border: none;
    border-radius: 2rem;
    margin-right: 0.5rem;
  }
  &_table {
    text-align: center;
    max-height: 25rem;
    overflow: scroll;
  }
}

@media screen and (min-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr 1fr;

    &_container {
      width: 1fr;
      height: min-content;
    }
  }

  .cardwrapper {
    grid-template-columns: 1fr 1fr;
    width: 1fr;
  }
  .card {
    flex-direction: row;
    text-align: center;
    width: 1fr;
    position: relative;
    flex-wrap: nowrap;
    height: 100%;
  }

  .proceed {
    &_Btn {
      background-color: white;
      color: black;
    }
    &_Btn:hover {
      box-shadow: none;
      background-color: $buttonbg;
      color: white;
    }
  }

  .upload {
    grid-template-columns: 1fr 3fr;

    &_body {
      grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
      gap: 1rem;
    }
  }
}
