@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 5rem;
  justify-content: center;
  z-index: 1;
  padding-right: 2.5rem;
}

.container {
  border-radius: 0;
  overflow: hidden;
}

.newRes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  padding: 2rem;
}

.resHeader {
  padding: 2rem;
  background-color: aquamarine;
}
.resName {
  background-color: #f8f8f8;
  height: 39.8rem;
  display: flex;
  flex-direction: column;
  width: 30rem;
  border-radius: 0.5rem;
}

.choicesHolder {
  margin: 1rem;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin-right: 2rem;
  width: 100%;
}
.title {
  font-family: "Montserrat";
  text-align: center;
  padding: 2rem;
}
