$radius: 0.25rem;
$white1: #eeeeee;
$gray1: #b5b5b5;
$pink: #dfa9ff;
$purple: #a742c5;
$black: #23272a;
$boxshadow: 0 0 10px 5px rgb(252, 252, 252);
$buttonbg: #a742c5;
$maxwidth: 40rem;

.resData {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  &_body {
    &_container {
      height: 100%;
      width: 90vw;
      display: grid;
      margin-bottom: 2rem;
      grid-template-rows: 1fr;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      background-color: white;
    }
    &_heading {
      height: fit-content;
      padding: 1rem;
      border-bottom: 1px solid $white1;
    }
    &_tabs {
      display: grid;
      grid-template-columns: 2rem 1fr 2rem;
      border-bottom: 1px solid $white1;
    }
    &_content {
      height: 100%;
      padding: 1rem;
      gap: 2rem;
    }
  }
  &_dataset {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_heading {
      padding: 1rem;
      border: 1px solid $gray1;
      border-bottom: none;
    }
    &_desc {
      padding: 1rem;
      height: fit-content;
      background-color: $white1;
      border: 1px solid $gray1;
      word-wrap: break-word;
    }
    &_table {
      margin-top: 1rem;
      min-height: 20vh;
      height: max-content;
      overflow: auto;
      background-color: white;
      border: 1px solid $gray1;
      &_heading {
        padding: 1rem;
        border-bottom: 1px solid $gray1;
        height: 3rem;
      }
    }
  }
  &_arrow {
    width: 2rem;
    display: block;
    border: none;
    background-color: transparent;
  }
  &_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    height: fit-content;
    background-color: $white1;
    border: 1px solid $gray1;
    word-wrap: break-word;
  }
  &_container {
    max-height: 85vh;
    overflow-y: auto;
    width: 100%;
  }
}

.colCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #b5b5b5;
  border-radius: 0.25rem;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;

  &_content {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
  }
  &_details {
    display: flex;
    flex-direction: column;
    width: 1fr;
  }
  &_row {
    display: flex;
    justify-content: space-between;
  }
  &_graph {
    padding-top: 1rem;
    width: 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .colCard {
    &_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 900px) {
  .resData {
    &_body {
      max-width: 50vw;
      &_container {
        height: 100%;
        max-width: 50vw;
      }
      &_heading {
        height: fit-content;
        border-bottom: 1px solid $white1;
        max-width: 50vw;
      }
      &_tabs {
        width: 50vw;
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 1px solid $white1;
      }
    }
    &_dataset {
      padding: 1rem;
      max-width: 48vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &_heading {
        padding: 1rem;
        border: 1px solid $gray1;
        border-bottom: none;
      }
      &_desc {
        padding: 1rem;
        height: fit-content;
        background-color: $white1;
        border: 1px solid $gray1;
      }
      &_table {
        margin-top: 1rem;
        min-height: 20vh;
        height: max-content;
        overflow: auto;
        background-color: white;
        border: 1px solid $gray1;
        &_heading {
          padding: 1rem;
          border-bottom: 1px solid $gray1;
          height: 3rem;
        }
      }
    }

    &_arrow {
      display: none;
    }
    &_container {
      max-height: 85vh;
      overflow-y: auto;
      width: 100%;
      padding: 1rem;
    }
  }
}
