@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

$radius: 1rem;
$white1: #eeeeee;
$gray1: #b5b5b5;
$pink: #dfa9ff;
$purple: #a742c5;
$black: #23272a;
$boxshadow: 0 0 10px 5px rgb(240, 240, 240);
$buttonbg: #a742c5;

.statpage {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  width: 85vw;
  &_container {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    border-radius: $radius;
    overflow: hidden;
    box-shadow: $boxshadow;
    height: 100%;
  }
  &_filter {
    width: 1fr;
    overflow: hidden;
  }
  &_header {
    display: grid;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &_methods {
    width: max-content;
    height: 70vh;
    border: 1px solid $white1;
    &_container {
      width: 1fr;
      padding: 1rem;
    }
  }
  &_cards {
    background-color: $purple;
  }

  &_checkbox {
    display: grid;
    width: 1fr;
    grid-template-columns: 1fr;
    background-color: white;
    border: 1px solid $white1;
    height: 100%;
    overflow-y: auto;
  }
}
.statmethod {
  display: grid;
  width: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: white;
  height: 100%;
  position: relative;
  overflow-y: auto;
  padding-top: 1rem;

  word-wrap: break-word;
}

@media screen and (min-width: 600px) {
  .statpage {
    width: 80vw;
    &_container {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    &_filter {
      width: 1fr;
      padding: 1rem;
      overflow: hidden;
    }

    &_methods {
      padding: 1rem;
      width: 100%;
      &_container {
        width: 2fr;
      }
    }
    &_header {
      display: grid;
      justify-content: center;
      padding: 2rem;
    }
    &_checkbox {
      display: grid;
      width: 1fr;
      grid-template-columns: 1fr;
      background-color: white;
      border: 1px solid $white1;
      height: 70vh;
      overflow-y: auto;
    }
  }
  .statmethod {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
    gap: 1rem;
  }
}
