@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.column_table {
  width: 100%;
}

.column_table_header {
  word-wrap: break-word;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 10rem;
}

.dropdown_hover {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #df9aff;
  color: white;
  border: none;
  border-radius: 1rem;
}

.dropdown_hover:hover {
  background-color: white;
  color: gray;
}

.dropdown_menu {
  border-radius: 1rem;
  padding: 0.5rem;
  display: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 2px solid gray;
}

.dropdown_menu_items {
  cursor: pointer;
  color: black;
}

.dropdown_menu_items:hover {
  color: white;
  background-color: gray;
}

.dropdown:hover .dropdown_menu {
  display: -ms-grid;
  display: grid;
  z-index: 1;
}

.datapage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  min-height: 100%;
}

.datapage_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 5px #f0f0f0;
          box-shadow: 0 0 10px 5px #f0f0f0;
  background-color: white;
  height: 76vh;
  width: 90vw;
}

.datapage_navigator {
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  background-color: #a8a8a8;
  height: 5rem;
  -ms-grid-columns: (5rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 5rem);
  padding-left: 1.5rem;
  border: none;
}

.datapage_navigator_active {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
}

.datapage_navigator_inactive {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #cfcfcf;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  height: 3rem;
  width: 5rem;
  cursor: pointer;
}

.datapage_content {
  padding: 0.5rem;
  gap: 1rem;
  overflow-y: scroll;
}

.datapage_upload {
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  cursor: pointer;
  height: 1.5rem;
  width: 10rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
}

.datapage_upload:hover {
  background-color: #a8a8a8;
  border: 1px solid #a8a8a8;
  color: white;
}

.datapage_upload_input {
  display: none;
}

.datapage_upload_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.datapage_error {
  width: 10rem;
  height: 2rem;
  border: 1px solid #ad2929;
  color: #ad2929;
  background-color: #ffc1c1;
}

.datapage_error:hover {
  background-color: #e26b6b;
}

.datapage_details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1rem;
  height: 15rem;
}

.datapage_drop {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.datapage_drop_button {
  margin-top: 1rem;
  background-color: white;
}

.datapage_drop_button:hover {
  background-color: #a8a8a8;
  color: white;
  border: 0;
}

.datapage_drop_input {
  width: 10rem;
  margin-bottom: 1rem;
}

.datapage_checkbox {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-right: 1rem;
}

@media screen and (min-width: 600px) {
  .datapage_navigator {
    display: -ms-grid;
    display: grid;
    background-color: #a8a8a8;
    height: 5rem;
    -ms-grid-columns: (10rem)[auto-fill];
        grid-template-columns: repeat(auto-fill, 10rem);
    padding-left: 2rem;
  }
  .datapage_navigator_active {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
  }
  .datapage_navigator_inactive {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 2px solid #bbbbbb;
    background-color: #cfcfcf;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
  }
  .datapage_upload_cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (2.5rem)[auto-fill];
        grid-template-rows: repeat(auto-fill, 2.5rem);
    padding-bottom: 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .datapage_content {
    padding: 2rem;
    gap: 1rem;
    overflow-y: scroll;
  }
  .datapage_details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10vw 60vw;
        grid-template-columns: 10vw 60vw;
    padding: 1rem;
    height: 15rem;
  }
  .datapage_drop {
    width: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=datapage.css.map */