.statContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  min-height: 26rem;
  max-height: 26rem;
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid #838383;
}

.selected {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.25;
  padding: 1rem;
  transition: transform 200ms ease-in;
  border: 3px solid #a742c5;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.25;
  padding: 1rem;
  transition: transform 200ms ease-in;
  border: 3px solid #f0f0f0;
  background-color: #f0f0f0;

  &_title {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &_desc {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_status {
    width: 100%;
    font-weight: bold;
    color: #838383;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: inherit;
  }
  &_tagcont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &_tags {
    color: white;
    border-radius: 1rem;
    background-color: #a742c5;
    width: 1fr;
    font-size: 0.8rem;
    height: min-content;
  }
}

@media screen and (min-width: 900px) {
  .statContainer {
  }
  .cards {
    flex-direction: column;
    width: 100%;
    position: relative;
    flex-wrap: nowrap;
    height: fit-content;

    &:hover {
      transform: scale(1.01);
    }
  }
  .selected {
    flex-direction: column;
    width: 100%;
    position: relative;
    flex-wrap: nowrap;
    height: fit-content;

    &:hover {
      transform: scale(1.01);
    }
  }
}
