$radius: 0.25rem;
$white1: #eeeeee;
$gray1: #b5b5b5;
$pink: #dfa9ff;
$purple: #a742c5;
$black: #23272a;
$boxshadow: 0 0 10px 5px rgb(252, 252, 252);
$buttonbg: #a742c5;

.StudyCard {
  background-color: white;
  border: 1px solid #b5b5b5;
  border-radius: $radius;
  padding: 1rem;
  width: 90%;
  margin-top: 1rem;
  height: fit-content;
  cursor: pointer;
  &_confirmation {
    padding: 1rem;
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid $purple;
    width: 25rem;
    height: 10rem;
    color: #23272a;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    &_actions {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
  &_title {
    font-weight: 700;
    position: relative;
  }
  &_method {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  &_desc {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .StudyCard {
    width: 90%;

    &_desc {
      display: block;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #eeeeee;
    }
  }
}
