$white1: #eeeeee;
$gray1: #b5b5b5;
$pink: #dfa9ff;
$purple: #a742c5;
$black: #23272a;


.LinearModel{
    border: 1px solid $white1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;

    &_header{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $white1;
    }
    &_content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &_independent{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap:1rem;

        &_header{
            display: flex;
            flex-direction: column;
        }
        &_content{
            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-content: center;
            align-items:baseline;
        }
    }
    &_dependent{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }
}